<style>
  .about .about-message {
    text-align: center;
  }
  .about .about-message h1 {
    font-size: 50px;
  }
  .about .about-message p {
    font-size: 20px;
  }
</style>

<div class="main about">
  <div class="about-message">
    <h1>About REVIEW APP</h1>
    <p>Bla bla bla...</p>
  </div>
</div>