<header>
  <div class="header-container">
    <div class="header-logo">
    <h1><a href="/">REVIEW APP</a></h1>
    </div>
    <ul class="header-menus">
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</header>

<div class="main about">
  <div class="about-message">
    <h1>About REVIEW APP</h1>
    <p>Bla bla bla...</p>
  </div>
</div>