<style>
  .top .top-message {
    text-align: center;
  }
  .top .top-message h1 {
    font-size: 50px;
  }
  .top .top-message p {
    font-size: 20px;
  }
</style>

<div class="main top">
  <div class="top-message">
    <h1>REVIEW APP</h1>
    <p>Lets review in detail!</p>
  </div>
</div>
