/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

 /* 共通レイアウト ================================ */
body {
  color:#ee8070;
  background-color: white;
  margin: 0;
  min-height: 1vh;
}

/* ヘッダー ================================ */
header {
  width: 100%;
}
.header-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.header-logo {
  margin: auto 50px;
}
.header-logo a {
  color: #ee8070;
  font-size: 30px;
}
.header-menus {
  margin: auto 50px;
  display: flex;
}
.header-menus li {
  margin: auto 10px;
}
.header-menus a {
  color: #ee8070;
}

/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  margin-top: 30px;
  color: white;
  background-color: #34BCD1;
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

/* メイン ================================ */
.main {
  padding: 50px;
}

