<header>
  <div class="header-container">
    <div class="header-logo">
    <h1><a href="/">REVIEW APP</a></h1>
    </div>
    <ul class="header-menus">
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</header>

<div class="main reviews-index">
  <div class="container">
    <% @reviews.each do |review| %>
      <div class="review-index-item">
        <%= review %>
      </div>
    <% end %>
  </div>
</div>