<style>
  .reviews-show .review-show-item {
    padding: 20px 30px;
    margin: 20px 50px;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
  }
  .reviews-show .review-show-item .review-menus {
    display: flex;
    justify-content: flex-end;
  }
  .reviews-show .review-show-item .review-menus a {
    color: #8899a6;
    text-decoration: underline;
    margin: 0 10px;
  }

</style>

<div class="main reviews-show">
  <div class="container">
    <div class="review-show-item">
      <p>
        <%= @review.others %>
      </p>
      <div class="review-time">
        <p>
          <%= @review.created_at %>
        </p>
      </div>
      <div class="review-menus">
        <%= link_to("編集", edit_review_path) %>
        <%= link_to("削除", review_path, method: :delete, data: {confirm: "削除しますか？"}) %>
      </div>
    </div>
  </div>
</div>